@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
	display: block !important;
}

.auth-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.auth-wrapper .auth-box {
	box-shadow: 0px 5px 15px 5px #d1d2de;
	max-width: 800px;
	width: 800px;
	margin: 5% 0;
	position: relative;
}
.auth-wrapper .auth-box .modal-bg-img {
	min-height: 300px;
	padding: 0px;
}

.auth-wrapper #recoverform {
	display: none;
}

.carousel-control-prev, .carousel-control-next {
	background: none;
	border: none;
	height: 30px !important;
	top: 50%;
}
#carouselExampleControls, #carouselExampleControls img {
	max-height: 530px;
}
#carouselExampleControls .carousel-inner,
#carouselExampleControls .carousel-item,
#carouselExampleControls img {
	height: 100%;
}
#carouselExampleControls .carousel-item.active {
	display: flex;
	justify-content: center;
}
p {
	color: #a1a1a1;
}
div[role=loading] p {
	color: #6513ff;
	animation: fadeIn 3s infinite cubic-bezier(0, 1.06, 1, 1);
}
.company-logo {
	filter: brightness(0) invert(1);
	height: 20px;
	margin: 10px 15px;
	position: fixed;
	cursor: pointer;
}
@media (prefers-color-scheme: dark) {
	body {
	    background: linear-gradient(0deg, #4b386d, #131829) !important;
	}
	.auth-wrapper .auth-box {
		box-shadow: 0px 5px 10px 5px #282247;
	}
}
